# Dependencies
node_modules/
**/node_modules/

# Build
dist/
build/

# Environment
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
venv/
__pycache__/
*.pyc

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db